.toolbar{
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
    background-color: #262929;
    color: white;
    height: 60px;
    vertical-align: middle;

    h1{
        padding: 10px 10px 10px 25px;
    }
}